/* calculator-left */

    .calculator-left{width: 50%;display: table-cell; padding-right: 22px;vertical-align: bottom;padding-bottom: 40px;
        .calc-window-img{height: 360px;max-width: 300px;width: 100%;position: relative;margin:0 auto;
            ul>li>ul>li{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: calc(100% - 70px);text-align: center;}
            li{display: none;
                &.active{display: block;}
            }
        }
        .door-drag-inputs{display: none;
            &.show{display: block;}
        }
        .calc-window-slide{
            .slide-input{text-align: center;padding-top: 38px; max-width: 260px;    margin: 0 auto;
                .slide-input-title-main{font-size: 18px;text-align: center;margin-bottom: 10px;font-weight: 700;}
                .slide-input-wrap{display: flex;justify-content:center;}

                p{padding-bottom: 4px;}
                .slide-input-item{margin: 0 5px; font-size: 18px; font-family: "SegoeUI", sans-serif;  color: rgb(89, 89, 89); line-height: 1.667; font-weight: 400;
                    p{margin: 0;}
                }
                input{width: 100px;height: 30px;border:1px solid #cbcbcb;color: #4f4f4f;font-size: 14px;text-align: center;line-height: 30px;border-radius: 5px;}
                span{display: inline-block;padding-bottom: 5px;}
            }
            &.show-wrap{display:flex;flex-wrap:wrap;
                .slide-input{max-width: 50%;padding: 20px 5px 0 5px;}
            }
        }

        .slider-wrap{position: absolute;width: 100%;height: 100%;margin: 0 auto;
            .slider-item{position: absolute;border:none;background-color: #0094f2;border-radius: 0;

                &.ui-slider-horizontal{width: 100%;left:48%;transform:translate(-50%, 0);height: 2px;top:100%;
                    &.slide-width-door{bottom: calc(100% + 25px);top:auto;display: none;
                        &.show{display: block;}
                    }
                    &.ui-slider{
                        .ui-slider-handle{top:-13px;}
                    }
                }
                &.ui-slider-vertical{height: 300px;top:53%;transform:translate(0, -50%);width: 2px;
                    &.slide-height-window{left: 0;}
                    &.slide-height-door{right: 0;display: none;
                        &.show{display: block;}
                    }
                    &.ui-slider{
                        .ui-slider-handle{left:-13px;}
                    }
                }
                &.ui-slider-range-max{background-color: #e5e5e5;}
                &.ui-slider{
                    .ui-slider-handle{width: 26px;height: 26px;border-radius: 50%;border: none;background: rgb(91,188,250);background: -moz-linear-gradient(top, rgba(91,188,250,1) 1%, rgba(5,150,242,1) 100%);background: -webkit-linear-gradient(top, rgba(91,188,250,1) 1%,rgba(5,150,242,1) 100%);background: linear-gradient(to bottom, rgba(91,188,250,1) 1%,rgba(5,150,242,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bbcfa', endColorstr='#0596f2',GradientType=0 );
                        &:before{content: '';display: block;position: absolute;width: 16px;height: 16px;border-radius: 50%;border:2px solid #fff;left: calc(50% - 8px);top:calc(50% - 8px);}
                    }
                }
            }
        }


    }

/* /calculator-left */