<div class="calculator-top">
    <div class="conteiner-pro">
        <div class="row-tool">
            <div class="title-text">
                <h3>Выбор производителя профиля.</h3>
            </div>
        </div>
        <div class="row-tool">
            <ul class="super-spis">
                <li>
                    <label>
                        <input type="radio" name="radio1" />
                        <span class="cont">
                            <img src="images/pr1.jpg" alt=""/>
                            <span class="border"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="radio1" />
                        <span class="cont">
                            <img src="images/pr2.jpg" alt=""/>
                            <span class="border"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="radio1" />
                        <span class="cont">
                            <img src="images/pr3.jpg" alt=""/>
                            <span class="border"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="radio1" />
                        <span class="cont">
                            <img src="images/pr4.jpg" alt=""/>
                            <span class="border"></span>
                        </span>
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="radio1" />
                        <span class="cont">
                            <img src="images/pr5.jpg" alt=""/>
                            <span class="border"></span>
                        </span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>