<div class="calculator-right">
    <div class="contact-form-row cfix">
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Выбор изделия</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Оконная система</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Тип дома</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Стеклопакет</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Отлив</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>