<div class="calculator-right">
    <div class="contact-form-row cfix">
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Выбор изделия</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Одностворчатое окно </option>
                        <option value="val2">Двустворчатое окно </option>
                        <option value="val3">Трехстворчатое окно</option>
                        <option value="val4">Балконный блок </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Оконная система</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Тип дома</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Панельный</option>
                        <option value="val2">Кирпичный </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Стеклопакет</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Однокамерный</option>
                        <option value="val2">Двухкамерный</option>
                        <option value="val3">Однокамерный + И-стекло</option>
                        <option value="val4">Двухкамерный + И-стекло</option>
                    </select>
                </div>
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket" >
                        <span>Шумогасящий стеклопакет</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Отлив</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Выбор ширины отлива</option>
                        <option value="val2">Длинна отлива зависит от ширина</option>
                    </select>
                </div>
                <div class="form_input">
                    <div class="slide-input">
                        <div class="slide-input-item" >
                            <input type="text" name="balkon-shirina" placeholder="Ширина" class="balkon-shirina">
                        </div>
                        <span>х</span>
                        <div class="slide-input-item">
                            <input type="text" name="balkon-visota" placeholder="Длина" class="balkon-visota">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Подоконник</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Россия</option>
                        <option value="val2">Германия</option>
                    </select>
                </div>
                <div class="form_input">
                    <div class="slide-input">
                        <div class="slide-input-item" >
                            <input type="text" name="balkon-shirina" placeholder="Ширина" class="balkon-shirina">
                        </div>
                        <span>х</span>
                        <div class="slide-input-item">
                            <input type="text" name="balkon-visota" placeholder="Длина" class="balkon-visota">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Доставка</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">В пределах МКАД</option>
                        <option value="val2">За МКАД (учитывать километраж)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

</div>