<div class="calculator-left">
    <div class="calc-window">
        <div class="calc-window-img">
            <ul>
                <li class="active">
                    <ul>
                        <li class="active">
                            <img src="images/odna_stvorka_1.png" alt="">
                        </li>
                        <li>
                            <img src="images/odna_stvorka_2.png" alt="">
                        </li>
                        <li>
                            <img src="images/odna_stvorka_3.png" alt="">
                        </li>
                        <li>
                            <img src="images/odna_stvorka_4.png" alt="">
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/dve_stvorka_1.png" alt="">
                        </li>
                        <li>
                            <img src="images/dve_stvorka_2.png" alt="">
                        </li>
                        <li>
                            <img src="images/dve_stvorka_3.png" alt="">
                        </li>
                        <li>
                            <img src="images/dve_stvorka_4.png" alt="">
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/tri_stvorka_1.png" alt="">
                        </li>
                        <li>
                            <img src="images/tri_stvorka_2.png" alt="">
                        </li>
                        <li>
                            <img src="images/tri_stvorka_3.png" alt="">
                        </li>
                        <li>
                            <img src="images/tri_stvorka_4.png" alt="">
                        </li>
                        <li>
                            <img src="images/tri_stvorka_5.png" alt="">
                        </li>
                        <li>
                            <img src="images/tri_stvorka_6.png" alt="">
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/chetiri_1.png" alt="">
                        </li>
                        <li>
                            <img src="images/chetiri_2.png" alt="">
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="calc-window-slide">

            <div class="slider-wrap">
                <div class="slider-item" data-hui=0></div>
                <div class="slider-item" data-hui=1></div>
            </div>
            <div class="slide-input">
                <div class="slide-input-item" data-hui=0>
                    <p>Ширина</p>
                    <input type="text" id="slide-width"  value="500" name="slide-width" data-step="10" data-min="0" data-max="3000" class="slider-inp-item">
                </div>
                <span>х</span>
                <div class="slide-input-item" data-hui=1>
                    <p>Высота</p>
                    <input type="text" id="slide-height"  value="800" name="slide-height" data-step="10" data-min="0" data-max="3000" class="slider-inp-item">
                </div>
            </div>
        </div>
    </div>
    <div class="calc-checks">

    </div>
    <div class="calc-price">

    </div>
</div>