<div class="calculator-left">
    <div class="calc-window">
        <div class="calc-window-img">
            <ul>
                <li>
                    <ul>
                        <li>
                            <img src="images/windows-bigger-img-11.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-12.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-13.png" alt="" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/windows-bigger-img-21.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-22.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-23.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-24.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-25.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-26.png" alt="" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/windows-bigger-img-31.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-32.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-33.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-34.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-35.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-36.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-37.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-38.png" alt="" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/windows-bigger-img-41.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-42.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-43.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-44.png" alt="" />
                        </li>
                        <li>
                            <img src="images/windows-bigger-img-45.png" alt="" />
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="calc-window-slide">

            <div class="slider-wrap">
                <div class="slider-item slide-width-window"></div>
                <div class="slider-item slide-height-window"></div>
                <div class="slider-item slide-width-door"></div>
                <div class="slider-item slide-height-door"></div>
            </div>

            <div class="slide-input window-drag-inputs">
                <div class="slide-input-title-main">Окно</div>
                <div class="slide-input-wrap">
                    <div class="slide-input-item" data-slider=0>
                        <p>Ширина</p>
                        <input type="text" data-slide="slide-width-window"  value="600" name="slide-width-window" data-step="10" data-min="300" data-max="2400" data-orientation="horizontal" class="slider-inp-item">
                    </div>
                    <span>х</span>
                    <div class="slide-input-item" data-slider=1>
                        <p>Высота</p>
                        <input type="text" data-slide="slide-height-window"  value="600" name="slide-height-window" data-step="10" data-min="300" data-max="2300" data-orientation="vertical" class="slider-inp-item">
                    </div>
                </div>

            </div>

            <div class="slide-input door-drag-inputs">
                <div class="slide-input-title-main">Дверь</div>
                <div class="slide-input-wrap">
                    <div class="slide-input-item" data-slider=0>
                        <p>Ширина</p>
                        <input type="text" data-slide="slide-width-door"  value="1000" name="slide-width-door" data-step="10" data-min="1000" data-max="2300" data-orientation="horizontal" class="slider-inp-item">
                    </div>
                    <span>х</span>
                    <div class="slide-input-item" data-slider=1>
                        <p>Высота</p>
                        <input type="text" data-slide="slide-height-door"  value="1600" name="slide-height-door" data-step="10" data-min="1600" data-max="2400" data-orientation="vertical" class="slider-inp-item">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="calc-checks">
        <div class="checkers">
            <div class="one-brow cfix">
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-setka" class="setka-checkbox" />
                        <span>Москитная сетка</span>
                    </label>
                </div>
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-demontash" class="demontash-checkbox" />
                        <span>Демонтаж</span>
                    </label>
                </div>
            </div>
            <div class="one-brow cfix">
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-otkos" class="otkos-checkbox" />
                        <span>Отделка откосов</span>
                    </label>
                </div>
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-montash" class="montash-checkbox" />
                        <span>Монтаж</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="calc-price cfix" >
        <div class="box-2-box cena-block">
            <span>Цена</span>
        </div>
        <div class="box-2-box calc-block">
            <span class="straday-res">12 250</span>
            <span>руб.</span>
        </div>
    </div>
</div>