<div class="calculator-tabs">

    <!-- here gona be title -->

    <div class="calculator-tabs-main">
        <div class="calculator-tabs-item">

            <div class="tabs-text">
                <span>Одна створка</span>
            </div>

            <div class="calculator-tabs-windows">
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="0" data-impost="0" />
                            <img src="images/window-img11.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="0" />
                            <img src="images/window-img12.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img13.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="1" data-impost="0" />
                            <img src="images/window-img14.jpg" alt="" />
                        </label>
                    </li>
                </ul>
            </div>

        </div>
        <div class="calculator-tabs-item">

            <div class="tabs-text">
                <span>Две створки</span>
            </div>

            <div class="calculator-tabs-windows">
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img21.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img22.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img23.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img24.jpg" alt="" />
                        </label>
                    </li>
                </ul>
            </div>

        </div>
        <div class="calculator-tabs-item">

            <div class="tabs-text">
                <span>Три створки</span>
            </div>

            <div class="calculator-tabs-windows">
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img31.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img32.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img33.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img34.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img35.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="2" data-impost="1" />
                            <img src="images/window-img36.jpg" alt="" />
                        </label>
                    </li>
                </ul>
            </div>

        </div>
        <div class="calculator-tabs-item">

            <div class="tabs-text">
                <span>Балконная дверь</span>
            </div>

            <div class="calculator-tabs-windows">
                <ul>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="1" data-impost="1" />
                            <img src="images/window-img41.jpg" alt="" />
                        </label>
                    </li>
                    <li>
                        <label>
                            <input type="radio" name="tabs_radio" data-furnitura="1" data-impost="1" />
                            <img src="images/window-img42.jpg" alt="" />
                        </label>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>