<div class="calc-bottom-wrap">

    <div class="calc-checks">
        <div class="checkers">
            <div class="one-brow cfix">
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-montash" class="montash-checkbox" />
                        <span>Монтаж</span>
                    </label>
                </div>
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-demontash" class="demontash-checkbox" />
                        <span>Демонтаж</span>
                    </label>
                </div>
            </div>
            <div class="one-brow cfix">
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-setka" class="setka-checkbox" />
                        <span>Москитная сетка</span>
                    </label>
                </div>
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket-otkos" class="otkos-checkbox" />
                        <span>Отделка откосов</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="calc-price cfix" >
        <div class="box-2-box cena-block">
            <span>Цена</span>
        </div>
        <div class="box-2-box calc-block">
            <span class="straday-res">12 250</span>
            <span>руб.</span>
        </div>
    </div>

</div>