<div class="calculator-right">
    <div class="contact-form-row cfix">
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Выбор изделия</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Оконная система</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Тип дома</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Стеклопакет</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
                <div class="form_input">
                    <label>
                        <input type="radio" name="check-steclopaket" >
                        <span>Шумогасящий стеклопакет</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="contact-form-item">
            <div class="contact-form-item-input form_row">
                <div class="title-row">Отлив</div>
                <div class="form_input">
                    <select name="izdelie" id="izdelie">
                        <option value="val1">Штульповая балконная дверь </option>
                        <option value="val2">Штульповая дверь </option>
                        <option value="val3">Штульповая балконная</option>
                        <option value="val4">Штульповая балконная дверь </option>
                    </select>
                </div>
                <div class="form_input">
                    <div class="slide-input">
                        <div class="slide-input-item" >
                            <input type="text" name="balkon-shirina" class="balkon-shirina">
                        </div>
                        <span>х</span>
                        <div class="slide-input-item" data-slider="1">
                            <input type="text" name="balkon-visota"  class="balkon-visota">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>