<div class="calculator-left">
    <div class="calc-window">
        <div class="calc-window-img">
            <ul>
                <li>
                    <ul>
                        <li>
                            <img src="images/odna_stvorka_4.png" alt="" />
                        </li>
                        <li>
                            <img src="images/odna_stvorka_3.png" alt="" />
                        </li>
                        <li>
                            <img src="images/odna_stvorka_2.png" alt="" />
                        </li>
                        <li>
                            <img src="images/odna_stvorka_1.png" alt="" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/dve_stvorka_4.png" alt="" />
                        </li>
                        <li>
                            <img src="images/dve_stvorka_3.png" alt="" />
                        </li>
                        <li>
                            <img src="images/dve_stvorka_2.png" alt="" />
                        </li>
                        <li>
                            <img src="images/dve_stvorka_1.png" alt="" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/tri_stvorka_6.png" alt="" />
                        </li>
                        <li>
                            <img src="images/tri_stvorka_5.png" alt="" />
                        </li>
                        <li>
                            <img src="images/tri_stvorka_4.png" alt="" />
                        </li>
                        <li>
                            <img src="images/tri_stvorka_3.png" alt="" />
                        </li>
                        <li>
                            <img src="images/tri_stvorka_2.png" alt="" />
                        </li>
                        <li>
                            <img src="images/tri_stvorka_1.png" alt="" />
                        </li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <img src="images/chetiri_2.png" alt="" />
                        </li>
                        <li>
                            <img src="images/chetiri_1.png" alt="" />
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="calc-window-slide">

            <div class="slider-wrap">
                <div class="slider-item"></div>
                <div class="slider-item"></div>
            </div>
            <div class="slide-input">
                <div class="slide-input-item" data-slider=0>
                    <p>Ширина</p>
                    <input type="text" id="slide-width"  value="500" name="slide-width" data-step="10" data-min="0" data-max="3000" data-orientation="horizontal" class="slider-inp-item">
                </div>
                <span>х</span>
                <div class="slide-input-item" data-slider=1>
                    <p>Высота</p>
                    <input type="text" id="slide-height"  value="800" name="slide-height" data-step="10" data-min="0" data-max="3000" data-orientation="vertical" class="slider-inp-item">
                </div>
            </div>
        </div>
    </div>
    <div class="calc-checks">
        <div class="checkers">
            <div class="one-brow cfix">
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket" >
                        <span>Москитная сетка</span>
                    </label>
                </div>
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket" >
                        <span>Демонтаж</span>
                    </label>
                </div>
            </div>
            <div class="one-brow cfix">
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket" >
                        <span>Отделка откосов</span>
                    </label>
                </div>
                <div class="form_input wonderfull-check">
                    <label>
                        <input type="checkbox" name="check-steclopaket" >
                        <span>Монтаж</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="calc-price cfix" >
        <div class="box-2-box cena-block">
            <span>Цена</span>
        </div>
        <div class="box-2-box calc-block">
            <span class="straday-res">12 250</span>
            <span>руб.</span>
        </div>
    </div>
</div>